# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/
School Projects/Emerald Ash Borer Detection/code

# IDE/editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Flask / local runtime files
instance/

# Logs
*.log

# Temporary files
temp_*.jpg

# Model files if you don't want large binaries in Git
*.tflite
*.keras
*.h5

# Local geotag output
geotags/